body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background-color: #bfe8ea;
    text-align: center;
    padding: 0px;
}

.logo {
    width: 50px;
}

.header h2 {
    margin: 5px 0;
}

/* MENU */
.menu {
    padding: 20px;
}

.menu h3 {
    text-align: center;
}

.menu a {
    display: block;
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.menu a:hover {
    background-color: darkred;
}

/* CONTENT */
.content {
    padding: 30px;
}

.content h2 {
    text-align: center;
}

.form-box {
    width: 60%;
    margin: auto;
}

.content label {
    display: block;
    margin-top: 10px;
}

.content input,
.content textarea {
    width: 100%;
    padding: 8px;
}

.content button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}

/* FOOTER */
.footer {
    background-color: #bfe8ea;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
